.containerAuth {
  /* height: calc(100vh - 80px); */
  height: calc(100vh - 100px);
  width: 100%;
  background-color: var(--color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentAuth {
  max-width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.headerAuth {
  margin: 8em 0 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.titleHeader {
  color: var(--color-primary);
  font-size: 60px;
  font-weight: 400;
  text-align: center;
}

.subtitleHeader {
  color: var(--color-light);
  font-size: 22px;
  font-weight: 200;
  text-align: center;
}



.card {
  width: 30%;
  background-color: #514949;
  padding: 30px;
  border-radius: 31px;
  border: 3px solid #e2eaec;
  background-color: #1a1a1a;
}

/* FORM */

.form {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

label {
  font-size: 22px;
  color: #e2eaec;

}

.messageError {
  font-size: 16px;
  color: #c23939;
  margin: 0;
  height: 15px;
  visibility: hidden;
  font-weight: 200;
  letter-spacing: 1.8px;
}

.messageError.visible {
  visibility: visible;
}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
  gap: 10px;
  margin-bottom: 1em;
}

.textRedirect {
  font-size: 20px;
  color: white;
  font-weight: 400;
}

.textRedirect button {
  font-weight: 700;
  background-color: transparent;
  border: none;
  color: white;
  position: relative;
  padding-bottom: 2px;
  transition: color 0.15s, border-bottom 0.15s;
  border-bottom: 2px solid transparent;
}

.textRedirect button:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}



/*  */
@media (max-width: 992px) {
  .contentAuth{
    width: 100%;
  }
  .titleHeader {
    font-size: 50px;
  }

  .subtitleHeader {
    font-size: 18px;
  }
  .textRedirect{
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .titleHeader {
    font-size: 35px;
  }

  .subtitleHeader {
    font-size: 15px;
  }
  .headerAuth{
    margin: 6em 0 0 0;
  }
  .inputs{
    margin-bottom: 0;
  }
  .textRedirect{
    font-size: 12px;
  }
}

@media (max-width: 420px) {
  .titleHeader {
    font-size: 30px;
  }

  .subtitleHeader {
    font-size: 12px;
  }
  .headerAuth{
    margin: 0;
  }

  .textRedirect{
    font-size: 10px;
  }
}

@media (max-width: 320px) {
  .titleHeader {
    font-size: 25px;
  }

  .subtitleHeader {
    font-size: 10px;
  }

  .textRedirect{
    font-size: 8px;
  }
}