.container {
    height: 100%;
    width: 100%;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    width: 60%;
    border-radius: 25px;
    border: 1px solid #1d1d1d;
    position: relative;
}

.moviePoster {
    width: auto;
    height: auto;
    border-radius: 25px;
    padding: 15px 15px;
}

.movie {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    color: #e2eaec;
}

.contentTitle {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.titleMovie {
    font-weight: 400;
    font-size: 35px;
    color: #bee8e8;
}


.rating {
    position: absolute;
    top: 20px;
    right: 20px;
    /* color: #e2eaec; */
    background-color: transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 25px;
}



.data {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 1px;
    padding-bottom: 5px;
    border-bottom: 1px solid #1c252f;
    align-items: start;
}

.data Label {
    text-transform: uppercase;
    font-size: 16px;
    color: #bee8e8;
    font-weight: 700;
}

.data p {
    font-size: 14px;
}



.movieDetails {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #1c252f;
}

.trailerSection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.trailerSection label {
    color: #bee8e8;
    font-size: 18px;
    margin-right: 10px;
    font-weight: 700;
}

.icon {
    width: 35px;
    height: 35px;
}



.imageSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.ratingRed {
    /* background-color: #a61d24; */
    border: 2px solid #a61d24;
    color: #a61d24;
}

.ratingYellow {
    border: 2px solid #c5c535bf;
    color: #c5c535bf;

}

.ratingGreen {
    border: 2px solid #4cb518;
    color: #4cb518;
}

.spinner {
    height: 100%;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 10px;
    margin-bottom: 5px;
}


.confirmToast {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmButtons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.confirmButton {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.confirmButton:hover {
    background-color: #aaa6d3;
}


@media (max-width: 1550px) {
    .card {
        width: 65%;
    }

    .rating {
        width: 45px;
        height: 45px;
        right: 20px
    }
}




@media (max-width: 1000px) {
    .card {
        width: 90%;
    }

    .rating {
        right: 20px
    }


    .moviePoster {
        height: 200px;
    }

    .trailerSection label {
        font-size: 15px;
    }

    .titleMovie {
        font-size: 28px;
    }

    .movieDetails {
        margin-top: 10px;
        padding-top: 10px;
    }

    .trailerSection {
        margin-bottom: 0px;
    }

    .data label {
        font-size: 16px;
    }

    .data p {
        font-size: 12px;
    }

    .actions {
        margin: 10px 0px 0px 20px;
    }

}

@media (max-width: 600px) {
    .card {
        flex-direction: column-reverse;
    }

    .icon {
        width: 25px;
        height: 25px;
    }

    .movie {
        padding: 5px 20px;
    }

    .moviePoster {
        padding: 0px;
        border-radius: 0px;
        height: 140px;
    }

    .trailerSection label {
        font-size: 12px;
    }

    .titleMovie {
        font-size: 20px;
        margin-top: 5px;
    }


    .data {
        gap: 5px;
    }

    .data label {
        font-size: 12px;
    }

    .data p {
        font-size: 10px;
        margin-bottom: 0px;
    }

    .rating {
        width: 35px;
        height: 35px;
        font-size: 14px;
        right: 10px;
        top: 3px;
    }

}

/* 
.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-position: top right;
    background-repeat: repeat;
    background-size: auto;
    display: flex
;
    align-items: center;
    justify-content: center;
}


.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
}


.contentDetail {
    position: relative;
    max-width: 600px;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}


.title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

.year {
    font-size: 18px;
    margin-bottom: 10px;
    opacity: 0.8;
}

.director,
.cast {
    font-size: 16px;
    margin-bottom: 8px;
}

.director span,
.cast span {
    font-weight: bold;
}


.description {
    font-size: 14px;
    opacity: 0.9;
    margin-bottom: 20px;
    line-height: 1.5;
}


.trailerButton {
    background: #e50914;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.trailerButton:hover {
    background: #b20710;
}

@media (max-width: 576px) {
    .title {
        font-size: 35px;
    }

    .year {
        font-size: 16px;
    }

    .description {
        font-size: 13px;
    }
}

.rating {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #ffcc00;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 15px;
    border-radius: 10px;
} */