.content {
    width: 100%;
    height: 85px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 99;
    transition: background-color 0.1s ease-in-out;
    align-items: center;
    border-bottom: 2px solid transparent;
    transition: border-color 0.1s ease-in-out;
}

.bgScroll{
    background-color: #020913;
    border-bottom: 2px solid #e2eaec;
}

.bgTransparent{
    background-color: transparent;
}


.btnNav,
.link {
    padding: 10px 15px;
    color: #919191;
    font-size: 20px;
    border: none;
    font-weight: 300;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
}

.btnNav:hover,
.link:hover,
.btnWhite
{
    color : #e2eaec;
}

.logo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.logo img{
    width: 62px;
    height: 64px;
    object-fit: contain;
}

.element{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    height: 100%;
}

.iconProfile{
    width: 40px;
    height: 40px;
}

.logo .buttonHome{
    padding: 0;
    margin: 0;
    background: transparent;
    border: 0;
    padding-top: 5px;
}

.dropdownNav{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .logo{
        margin-left: 15px;
    }
    .logo img{
        width: 55px;
        height: 52px;
    }
}


@media (max-width: 600px) {


    .btnNav,
    .link{
        padding: 5px 5px;
        font-size: 20px;
    }

    .iconProfile{
        width: 30px;
        height: 30px;
    }

    .element{
        margin-right: 20px;
    }
}
