.customToggle {
    background-color: transparent !important;
    color: #e2eaec !important;
    border: none;
    font-size: 18px;
    outline: none;
    box-shadow: none;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin-top: 10px;
    margin-right: 20px;
}


.customToggle:hover {
    background-color: #1d1d1d;
    border: 1px solid #ccc !important;
}

.customToggle:focus {
    background-color: #1d1d1d;
    border: 1px solid #ccc !important;
}

.customMenu {
    background-color: #1d1d1d;
    border: 1px solid #ccc;
}

.customItem {
    color: #e2eaec;
    transition: background-color 0.15s ease-in-out;
    margin-bottom: 10px;
}

.customItem:hover {
    background-color: #ddd;
    color: black;
}

.customToggle:after {
    display: none !important;
}

.customIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


.customIcon path {
    fill: #ddd;
    transition: fill 0.15s ease-in-out;
}

.customItem:hover .customIcon path {
    fill: #1d1d1d
}

.customToggleIcon {
    width: 20px;
    height: 20px;
}



@media (max-width: 576px) {
    .customToggle {
        font-size: 12px;
        margin-top: 5px;
    }

    .customItem {
        margin-bottom: 5px;
        font-size: 14px;
    }

    .customIcon {
        width: 18px;
        height: 18px;
    }
}

@media (max-width: 420px) {
    .customToggle {
        margin-right: 5px;
        font-size: 8px;
    }

    .customToggleIcon {
        width: 15px;
        height: 15px;
    }

    .customItem {
        margin-bottom: 5px;
        font-size: 14px;
    }

    .customIcon {
        width: 18px;
        height: 18px;
    }
}

@media (max-width: 320px) {
    .customToggle {
        margin-right: 5px;
    }

    .customToggleIcon {
        width: 12px;
        height: 12px;
    }

    .customItem {
        font-size: 12px;
    }

    .customIcon {
        width: 14px;
        height: 14px;
    }
}
