


.modalContent {
    background-color: #242628; 
  }
  
  .modalHeader, .modalFooter {
    border: none; 
  }
  
  .modalTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    color: wheat;
    font-size: 35px;
  }
  
  .formControl {
    margin-bottom: 1rem; 
  }
  
  
.ratingInput {
    border-radius: 33px;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 3px;
    text-align: center;
    font-weight: 700;
    color: wheat;
    background-color: black;
    border: 3px solid wheat;
  }


  .searchList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .contentList {
    max-height: 300px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgb(255, 255, 255) transparent;
    width: 100%;
  }


.searchListItem {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    color: #fff;
    cursor: pointer;
    transition: background-color 200ms ease;


}

.searchListItem:hover {
    background-color: #1f1f1f;
}

.searchItemThumbnail img {
    width: 60px;
    height: 90px;
    object-fit: cover;
    margin-right: 1rem;
}

.searchItemInfo h3 {
    font-size: 1rem;
    margin: 0;
}

.searchItemInfo p {
    font-size: 0.8rem;
    margin: 0;
    opacity: 0.8;
}

.selectedMovie {
    display: flex;
    align-items: center;
    background-color: var(--light-dark-color);
    padding: 0.5rem;
    border-radius: 5px;
    position: relative; /* Para posicionar la cruz */
    color: #fff;
  }
  
  .selectedMovie .searchItemThumbnail img {
    width: 60px;
    height: 90px;
    object-fit: cover;
    margin-right: 1rem;
  }
  
  .selectedMovie .searchItemInfo h3 {
    font-size: 1rem;
    margin: 0;
  }
  
  .selectedMovie .searchItemInfo p {
    font-size: 0.8rem;
    margin: 0;
    opacity: 0.8;
  }
  
  .closeButton {
    position: absolute;
    top: 0;
    right: 0.5rem;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .closeButton:hover {
    color: red;
  }

  .search{
    padding: 2px 20px;
    font-size: 18px;
    border-radius: 10px;
  }

  .label{    
    font-size: 25px;
    color: white;
    margin-bottom: 5px;
    margin-left: 5px;
    font-family: 'M PLUS Rounded 1c';
  }

  .rating{
    display: flex;
    justify-content: flex-end;
  }

  


  /*Del increaser and decreaser of input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.btnSave{
  color: black;
  background-color: #42c727;
  font-weight: 700;
  border: 2px solid black;
  border-radius: 10px;
  padding: 1px 14px;
  font-size: 16px;
}
.btnSave:hover{
  background-color: #2bff00;
}

.btnCancel{
  color: red;
  background-color: black;
  border: 2px solid red;
  border-radius: 10px;
  padding: 1px 14px;
  font-size: 16px;
}

.btnCancel:hover{
  background-color: #a02121;
}



.linkInputContainer {
  position: relative;
  width: 100%;
}

.linkInput {
  width: 100%;
  padding: 2px 0px 2px 15px;
  font-size: 1rem;
  border: 3px solid #ccc;
  border-radius: 8px;
  margin-top: 10px;
  background-color: unset;
  color: white;
}

.linkIcon {
  position: absolute;
  right: 10px;
  top: 56%;
  transform: translateY(-50%);
  pointer-events: none;
}

.linkIcon svg {
  fill: #999;
}