.customToggle {
    background-color: transparent !important;
    color: #e2eaec !important;
    border: none;
    font-size: 20px;
    outline: none ;
    box-shadow: none ;
    border: 1px dotted transparent !important; 
}

  
.customToggle:hover{
    background-color: #1d1d1d; 
    border: 1px dotted #ccc !important; 
}

.customMenu {
    background-color: #1d1d1d; 
    border: 1px solid #ccc; 
}
  
.customItem {
    color: #e2eaec; 
    transition: background-color 0.3s ease-in-out;
}
  
.customItem:hover {
    background-color: #ddd;  
     color: black;
}

.customToggle:after {
    display: none!important;
}

.customIcon{
    width: 18px;
    height: 18px;
    margin-right: 5px;
}


.customIcon path{
    fill: #ddd;
    transition: fill 0.3s ease-in-out;
}

.customItem:hover .customIcon path{
    fill: #1d1d1d
}


@media (max-width: 992px) {
    .customMenu{
        padding: 0px;
    }

    .customItem{
        font-size: 14px;
    }
}

@media (max-width: 420px) {
    .customToggle{
        font-size: 15px;
    }
}

@media (max-width: 320px) {
    .customToggle{
        font-size: 12px;
    }
    .customItem{
        font-size: 12px;
    }
}