.contentSearch{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.element{
    width: 365px;
    position: relative;
    z-index: 999;
}

.elementScroll{
    width: 365px;
    position: absolute;
    top: 20px;
    z-index: 999;
}


.iconWrapper {
    position: absolute;
    top: 1px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

.search{
    background-color: #191f2b;
    border: 0;
    border-radius: 25px;
    color: #fff !important;
    height: 48px;
    padding: 6px 36px 6px 62px;
    text-overflow: ellipsis;
    width: 100%;
}


.icon{
    width: 20px;
    height: 20px;
}


@media (max-width: 768px) {
    .element{
        width: 315px;
    }
    .elementScroll{
        width: 205px;
        top: 28px;
    }

    .iconWrapper{
        top: 1px;
        left: 15px;
    }
    .icon{
        width: 12px;
        height: 12px;
    }
    .search{
        font-size: 10px;
        height: 40px;
        padding: 6px 36px 6px 40px;
    }
    .withoutMovie h1 {
        font-size: 20px;
    }
}
