*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lexend", sans-serif;
  background-color: #060d17;
  overflow-x: hidden;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.carousel-indicators {
  margin-bottom: 2px !important;
}

:root {
  --color-dark: #060d17;
  --color-primary: #FDE0D3;
  --color-light: #e2eaec;
}